<ion-header padding>

  <ion-navbar hideBackButton>
    <ion-title>Prêt(e) à vous engager pour un an ?</ion-title>
    <ion-buttons end>
      <img src="assets/img/logo.jpg" style="height: 45px;margin-top: 5px"/>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1 text-center margin *ngIf="configuration.enable_physical_button">Appuyez sur le buzzer !</h1>
  <h1 text-center margin *ngIf="!configuration.enable_physical_button">Je m'engage !</h1>

  <div class="main-container">
    <!-- Left container -->
    <div class="left-cont">
      <!-- Engagement block -->
      <ion-card padding *ngFor="let item of contributionList">
        <div class="content">
          <div class="icon">
            <img src="assets/img/bread-icon.png" />
          </div>
          <div class="desc">
            <div>{{item.nb_of_unit}}x / semaine</div>
            <ion-icon name="person" big *ngFor="let pnum of getNbAsArray(item.nb_of_person)"></ion-icon>
          </div>
        </div>
      </ion-card>

    </div>
    <!-- Right container -->
    <div class="right-cont">
      <ion-card>
        <ion-card-header text-center>
          Gain total
        </ion-card-header>
        <ion-item>
          <img src="/assets/img/earth.png" item-left />
          {{userContributions.savedM2}} m² sauvés
        </ion-item>
        <ion-item>
          <img src="/assets/img/coins.png" item-left />
          {{userContributions.savedMoney}} économisés
        </ion-item>
      </ion-card>
    </div>
  </div>

  <div class="button-cont" *ngIf="!configuration.enable_physical_button">
    <button ion-button (click)="engage()" large>
      Je m'engage !
    </button>
  </div>

</ion-content>

<ion-footer>
  <ion-buttons>
    <button ion-button clear navPop color="secondary" large>Retour à l'étape précédente</button>
  </ion-buttons>
</ion-footer>
