<ion-header padding>
  <ion-navbar>
      <ion-title>
      <div class="title">
        <div class="title-icon" [style.background]="'url('+commitment.logo+')'"></div>
        <div>Bravo vous avez choisi l'engagement</div>
        <div style="margin-left: 20px;font-weight: bold">"{{commitment.name}}"</div>
      </div>
    </ion-title>
      <ion-buttons end>
        <button ion-button (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="question" *ngIf="commitment.ask_for_periodicity">
    <div class="label">Combien de fois <b>par semaine</b> souhaitez vous prendre cet engagement ?</div>
    <div class="buttons">
      <button ion-button color="secondary" large [disabled]="currentContribution.nb_of_unit < 2" (click)="decrement('nb_of_unit')">
        <ion-icon name="remove"></ion-icon>
      </button>
      <ion-input type="text" [(ngModel)]="currentContribution.nb_of_unit" text-center></ion-input>
      <button ion-button color="secondary" large (click)="increment('nb_of_unit')">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </div>

  <div class="question alternative-text" *ngIf="commitment.ask_for_periodicity == false">
    {{commitment.alternative_text}}
  </div>

  <div class="question" *ngIf="commitment.ask_for_persons">
    <div class="label"><b>Au total</b>, combien de personnes vont s'engager dans votre foyer ?</div>
    <div class="buttons">
      <button ion-button [disabled] color="secondary" large [disabled]="currentContribution.nb_of_person < 2" (click)="decrement('nb_of_person')">
        <ion-icon name="remove"></ion-icon>
      </button>
      <ion-input type="text" [(ngModel)]="currentContribution.nb_of_person" text-center></ion-input>
      <button ion-button color="secondary" large (click)="increment('nb_of_person')">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </div>

  <div class="action-buttons" [hidden]="keyboardopened">
    <ion-buttons>
      <button ion-button color="danger" large (click)="cancel()">Annuler</button>
    </ion-buttons>
    <ion-buttons item-right>
      <button ion-button large (click)="submit()">Valider</button>
    </ion-buttons>
  </div>


</ion-content>
