<ion-header padding>

  <ion-navbar>
    <ion-title tinymce bindTo="'CHOOSE.HEADING_QUESTION'">Prêt(e) à prendre 1, 2 ou 3 engagements sur les 12 prochains mois ?</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div class="top">
      <div tinymce bindTo="'CHOOSE.YOUR_FIRSTNAME'">Indiquez votre prénom</div>
      <div><input type="text" name="firstname" [(ngModel)]="userContributions.user.firstname" /></div>
      <div tinymce bindTo="'CHOOSE.YOUR_FIRSTNAME_HELP'" class="help">Cela nous permettra d'afficher votre
  engagement sur le grand écran !</div>
  </div>


  <div class="commitment-list" [hidden]="!userContributions.user.firstname">
    <button ion-button class="l" color="secondary" large>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-slides>
      <ion-slide *ngFor="let itemGroup of list">
        <div class="commitments">
          <!-- COMMITMENT -->
          <div class="commitment" *ngFor="let item of itemGroup">
            <ion-card [class.selected]="userContributions.has(item)" (click)="choose(item)">
              <div class="title">
                  <p>{{item.name}}</p>
                  <ion-icon name="checkmark-circle" large></ion-icon>
              </div>
              <img [src]="item.image">
              <ion-item>
                <img src="assets/img/earth.png" item-left large>
                <h2>{{item.m2_saved_by_unit}} m²</h2>
                <p>Surface préservée</p>
              </ion-item>
              <ion-item>
                <img src="assets/img/coins.png" item-left large>
                <h2>{{item.euros_saved_by_unit}}€</h2>
                <p>Argent économisé</p>
              </ion-item>
            </ion-card>
            <div class="caption">
              <p>
                {{item.short_description}}
              </p>
              <a color="secondary">En savoir plus</a>
            </div>
          </div>
          <!-- END -->
        </div>
      </ion-slide>
    </ion-slides>
    <button ion-button class="r" color="secondary" large>
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>

</ion-content>

<ion-footer [hidden]="keyboardopened">
  <ion-toolbar>
    <div>
      <button ion-button color="light" (click)="showCancelConfirm($event)" large>
        <ion-icon name="home"></ion-icon>
      </button>
    </div>
    <div class="resume-container" [hidden]="!userContributions.savedMoney">
      <div class="sub">
        <div>
          <img src="assets/img/earth.png"/>
          <div>{{userContributions.savedM2}}m² sauvés</div>
        </div>
        <div>
          <img src="assets/img/coins.png"/>
          <div>{{userContributions.savedMoney}}€ économisés</div>
        </div>
      </div>
    </div>
    <div>
      <button primary ion-button large [navPush]="engagementConfirmPage" [disabled]="!userContributions.savedMoney">Suivant</button>
    </div>
  </ion-toolbar>
</ion-footer>
