page-choose {

  .top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2em;
    margin: 3rem 5rem 5rem 5rem;
    @media(max-width: 1200px) {
      margin: 0;
    }
    div {
      &:nth-child(2) {
        padding: 0 20px;
      }
      @media(max-width: 1200px)  {
        margin: auto;
      }
    }
    input {
      width: 20rem;
      @media(max-width: 1200px) {
        width: 14rem;
      }
    }
  }

  h1 {
    text-align: center;
    margin: 70px 0 30px 0;
  }

  .commitment-list {
    position: relative;
    button {
      top: 0px;
      margin-top: 7.5rem;
      position: absolute;
      @media(max-width: 1200px) {
        display: none;
      }
    }
    button.l {
      left: 0.5rem;
    }
    button.r {
      right: 0.5rem;
    }
    .swiper-button-disabled {
      opacity: 0.4;
    }
    ion-slides {
      .swiper-container {
        // border: 1px solid blue;
        width: calc(100% - 286px);
      }
      ion-slide {
        width: 400px;
        min-width: 400px;
        max-width: 400px;
        text-align: center;
          .commitment {
            width: 400px;
            margin: 0 auto;
            cursor: pointer;
            // border: 1px solid green;
            ion-card {
              .title {
                display: flex;
                text-align: left;
                padding: 15px;
                p {
                  font-weight: bold;
                  flex-grow: 1;
                  font-size: 1.8rem;
                }
                ion-icon {
                  flex-grow: 0;
                  font-size: 3em;
                  color: #d0d0d0;
                }
              }
              ion-item {
                img {
                  width: 2.5rem;
                }
                h2, p {
                  margin: 0 0 0 5px;
                }
                p {
                  font-size: 1.1rem;
                }
              }
              &.selected {
                  box-shadow: -3px -3px 4px 3px rgba(50, 219, 100, 0.34), 1px 0px 0px 5px rgba(50, 219, 100, 0.2), 5px 3px 7px 3px rgba(50, 219, 100, 0.22) !important;
                  ion-icon {
                    color: rgb(50, 219, 100);
                  }
              }
            }
            .caption {
              padding: 3px;
              p {
              }
              a {
                display: block;
                margin: 24px 0;
                font-weight: bold;
              }
            }
          }
      }
    }
  }

  ion-footer {
    .toolbar-content {
      display: flex;
      justify-content: space-between;
      & > div {
        flex-grow: 0;
        justify-content: space-around;
        align-items: center;
        &.resume-container {
          display: flex;
          flex-grow: 1;
          .sub {
            display: flex;
            text-align: center;
            & > div {
              align-items: center;
              &:last-child {
                margin-left: 5rem;
              }
              display: flex;
              img {
                width: 3rem;
              }
              div {
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }
  }

}
