body {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.4em;
  padding: 2em;
}

table {
  width: 100%;
}

/*
div.compteur {
  display: inline-block;
  width: 100%;
}

div.compteur-m2 {
  display: inline-flex;
  background-color: red;
  width: 40%;
  text-align: right;
}

div.compteur-euros {
  display: inline-flex;
  background-color: blue;
  width: 40%;
}
*/


th#display_m2, th#display_euros {
  font-size: 3em;
  font-weight: bold;
  width: 25%;
}

th.th-m2 {
  width: 28%;
  text-align: right;
}

th.th-euros {
  width: 20%;
  text-align: right;
}

th.vide {
  width: 2%;
}

h1 {
  padding-bottom: 1.8em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

div#display_merci {
  font-size: 2em;
  font-weight: bold;
  background-color: #cfc;
  padding: 1.2em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  border: solid 0.15em black;
}

img#logo {
  position: absolute;
  right: 2em;
  top: 2em;
  width: 10em;
}
