body {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2em;
}

table {
  width: 80%;
}

th#display_m2, th#display_euros {
  font-size: 2em;
}

h1 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

div#display_merci {
  background-color: #cfc;
  padding: 1em;
  margin-top: 2.5em;
  border: solid 0.1em black;
}
