page-contact {

  .title {
    font-size: 2.8rem!important;
    margin-top: 3rem;
  }

  .content {
    width: 80%;
    margin: 7rem auto;
    font-size: 1.7rem;
    line-height: 3rem;
  }

  form {
    margin: 4rem auto 0 auto;
    max-width: 75%;

    .item-block {
      margin: 2rem;
    }
  }

  ion-footer {
    button {
      float: right;
      &:last-child {
        margin-right: 3rem;
      }
    }

  }

}
