// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tinymce {
  width: 100%;
}

.header {
  .title {
    padding-left: 1rem;
    font-weight: bold;
  }
  img {
    position: absolute;
    top: 0.9rem;
    right: 1rem;
    height: 50px;
  }
}

ion-footer {
    img {
      width: 3rem;
    }
}

ion-buttons {
    float: left;
    &:last-child {
      float:right;
    }
}

.modal-wrapper {
     width: 80%;
     left: 10%;
     right: 10%;
}

.help {
  font-size: 1rem;
  font-style: italic;
  color: #444;
}
