<ion-nav [root]="rootPage" #content></ion-nav>

<ion-menu [content]="content" type="overlay" persistent="true">
  <ion-header padding>
    <ion-toolbar>
      <ion-title>Administration</ion-title>
      <ion-buttons end>
        <button ion-button menuClose>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
      <button ion-item (click)="logout()">Déconnexion</button>
    </ion-list>
  </ion-content>
</ion-menu>
